body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: hsl(0, 0%, 0%); /* Цвет фона веб-страницы */
    color: hsl(0, 0%, 100%); /* Цвет основного текста */ 
}
h1 {
    color: #ffffff; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
